In [103]:
s=''
dl=''
print('i divisible by 7 and not multiple by 5 btw 2000 and 3200')
for i in range (2000,3201):
    if (i%7==0 and i%5!=0):
        s=s+dl+str(i)
        dl=','
print(s)

i divisible by 7 and not multiple by 5 btw 2000 and 3200
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [102]:
s=''
print('i divisible by 7 and not multiple by 5 btw 2000 and 3200')
for i in range (2000,3201):
    if (i%7==0 and i%5!=0):
        s=s+str(i)+ ','
print(s)

i divisible by 7 and not multiple by 5 btw 2000 and 3200
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [2]:
i = 10 
print(i)

10

In [92]:
first_name= input('enter first name')
last_name= input('enter last name')
print(last_name,first_name,sep=' ')

enter first namevishnu
enter last namepriya
priya vishnu

In [25]:
d=12
import math
pi=math.pi
vol=4/3*pi*d/2**3
print(vol)

6.283185307179586

In [107]:
m=[]
op= str(input ('enter req comma seperated numbers:'))
x=op.split(',')
for i in x:
    m.append(int(i))
m

enter req comma seperated numbers:11,12,13,14,15

[11, 12, 13, 14, 15]

In [74]:

for i in range (0,5):
    for j in range (0,i+1):
        print ('*',end='')
    print('')
    
for k in range (5,0,-1):
    for v in range (k,0,-1):
        print('*',end='')
    print('')

*
**
***
****
*****
*****
****
***
**
*

In [106]:
rows= input("enter value")
for i in range (int(rows),0,-1):
    for r in range(i,0,-1):
        print (i,end='')
    print('')

enter value6
666666
55555
4444
333
22
1

In [91]:
a= input ('enter to reverse')
l=len(a)
s=a[l-1::-1]
s

enter to reverseswetha

'ahtews'

In [105]:
s=''
dl=''
print('i divisible by 7 and not multiple by 5 btw 2000 and 3200')
for i in range (1,20):
    if (i%7==0 and i%5!=0):
        print(i)
        s=s+dl+str(i)
        dl=','
print(s)

i divisible by 7 and not multiple by 5 btw 2000 and 3200
7
14
7,14

In [110]:
l=[1,2,3,4]
l
l[1]='kumar'
l

[1, 'kumar', 3, 4]

In [117]:
print('WE THE PEOPLE OF INDIA,\n having solemnly resolved to consitute india into a SOVEREIGN,!\n SOCIALIST,SECULAR,DEMOCRATIC,REPUBLIC\n and to secure to all its citizens')

WE THE PEOPLE OF INDIA,
 having solemnly resolved to consitute india into a SOVEREIGN,!
 SOCIALIST,SECULAR,DEMOCRATIC,REPUBLIC
 and to secure to all its citizens